.navbar a {
 text-transform: uppercase;
}
.navbar-brand span {
 color: #E91B23;
}
.navbar-inverse {
 background-color: #262626;
 margin-bottom: 0;
 border: none;
 border-radius: 0;
}
.imgclients img {
  width: 2em;
}
.imgport img {
  width: 19em;
}
.photostream img{
  width: 3em;
}
.browselist li {
  list-style-type: none;
}
.browselist li>a {
  text-decoration: none;
  color: #78848D;
}
.header {
  margin-bottom: 5em;
}
.photologo img {
  width: 10em;
}
.requestbout {
  text-align: center;
}
#footer1 {
  background-color: #1D2123;
  color: #78848D;
}
#footer1 span {
  color: white;

}
#footer2 {
  background-color: #2F373B;
}
